{% extends 'base.html' %} {% block corpo%} {% load static %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Consultar as Minhas Notas </h2>

        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <form id="demo-form2" class="form-horizontal form-label-left" action="{% url 'informacao_forum:ver-minha-nota' %}" method="post">
          {% csrf_token %} {% autoescape on %}

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Nº Estudante / Nº B.I<span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              {{ form.aluno }} {{ form.aluno.errors }}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Curso<span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              {{ form.curso }} {{ form.curso.errors }}
            </div>
          </div>

          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-8 col-sm-6 col-xs-12 col-md-offset-5">
              <button type="submit" class="btn btn-success">CONSULTAR</button>
            </div>
          </div>
          {% endautoescape %}
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}