{% extends 'base.html' %} {% block corpo%} {% load static %}

<div class="row">

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Lista de Alunos Matriculado<small> </small></h2>

        <div class="clearfix"></div>
      </div>


      <div class="x_content">
        <table id="example" class="table table-striped responsive-utilities jambo_table">
          <thead>
            <tr class="headings">

              <th>Nome Completo </th>
              <th>Genero</th>
              <th>Ano</th>
              <th>Opção</th>
              <th>Curso</th>
              <th>Periodo</th>
              <th>Nº Estudante</th>
              <th class=" no-link last"><span class="nobr">Opções</span>
              </th>
            </tr>
          </thead>


          <tbody>

            {% for dados in lista %}
            <tr class="even pointer">

              <td class=" "> {{ dados.aluno.pessoa.nome }}</td>
              <td class=" ">{{ dados.aluno.pessoa.genero|truncatechars:2 }}</td>
              <td class=" ">{{ dados.ano.nome }}</td>
              <td class=" ">{{ dados.opcao_matricula.nome }}</td>
              <td class=" ">{{ dados.curso|upper|truncatechars:20 }}</td>
              <td class=" ">{{ dados.periodo }}</td>
              <td class=" ">{{ dados.aluno.numero_estudante }}</td>
              <td class=" last">

                <div class="col-md-12  btn-group">
                  <button data-toggle="dropdown" class="col-md-12 btn btn-primary dropdown-toggle" type="button"> OPÇÕES <span class="caret"></span> </button>
                  <ul class="dropdown-menu">
                    <li><a class="btn btn-danger" data-toggle="modal" data-target=".bs-example-modal-lg">ELIMINAR</a>
                    </li>
                    <li><a href="{% url 'secretaria:editar-matricula' dados.id %}" class="btn btn-success">ATUALIZAR</a>
                    </li>

                  </ul>
                  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content ">

                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body alert alert-danger">
                          <h4> Aviso.....!</h4>
                          <p>Deseja Eliminar os dados da Matricula...?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="reset" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>

            {% endfor %}


          </tbody>

        </table>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />

</div>
</div>

{% endblock %}