{% extends 'base.html' %} {% block corpo%} {% load static %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Registar Curso</h2>

        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" action="{% url 'secretaria:registar-cursos' %}" method="post">
          {% csrf_token %} {% autoescape on %}
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Nome<span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              {{ form.nome }} {{ form.nome.errors }}
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Sigla do Curso<span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              {{ form.sigla_curso }} {{ form.sigla_curso.errors }}
            </div>
          </div>


          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-8 col-sm-6 col-xs-12 col-md-offset-5">
              <button type="reset" class="btn btn-primary">CANCELAR</button>
              <button type="submit" class="btn btn-success">SALVAR</button>
            </div>
          </div>
          {% endautoescape %}
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}